<div style="
	float: left;
    color: #666666;
	max-width: 10000px;
    text-align: center;
    display: block;
    margin: 5px 20px 20px;
    font-size: 1.35rem;
		" id = "surround{{include.fileid}}">
 <div style = " 
 position:relative;
  top: 0px;
  left: 0px;
  z-index: 2;
width: 5px;
  height: 5px;
border-radius:5px;
  background-color: rgba(0,0,0,0.0);
  " id="time{{include.fileid}}"></div>
		<!-- Video -->
    <div>
	<video style="border-bottom: 1px solid rgba(0,0,0,0.0);" id="video{{include.fileid}}" tabindex="0" disableRemotePlayback autobuffer preload>
		<source type="video/mp4" src="https://dl.dropboxusercontent.com/s/{{ include.fileid }}"></source>
	</video>
</div>
	{{ include.caption }}
</div>