<div style="
	float: {{ include.pos }};
    color: #666666;
	max-width: {{ include.w }}px;
    text-align: center;
    display: block;
    margin: 5px 20px 20px;
    font-size: 1.35rem;
		">
		<!-- Video -->
	<video id="video" tabindex="0" disableRemotePlayback autobuffer preload>
		<source type="video/mp4" src="https://dl.dropboxusercontent.com/s/{{ include.fileid }}"></source>
	</video>
	{{ include.caption }}
</div>

<script>
var video = document.getElementById("video");
var scrollpos = {{ include.start }};
var targetscrollpos = scrollpos;
var accel = 0;
var paused = false;


var accelamount = 0.2; 

video.pause();


video.addEventListener( "loadedmetadata", function (e) {
	var inv_asp_ratio = this.videoHeight/this.videoWidth;
	this.width = {{include.w}},
	this.height = {{ include.w }}*inv_asp_ratio;
}, false );

window.onload = function() {

	video.addEventListener('mousemove', function(event) {
		// Calculate the slider value
		if (!paused) {
		targetscrollpos = video.duration * (event.offsetX/{{ include.w }});
		}
	});

	video.addEventListener('click', function(event) {
		paused = !paused;

	});

	video.addEventListener('touchmove', function(event) {
		// Calculate the slider value
		if (!paused) {
		targetscrollpos = video.duration * 
			((event.touches[0].pageX - event.touches[0].target.offsetLeft)/{{ include.w }});
		}
	});

	video.addEventListener('touchstart', function(event) {
		if (event.touches.length > 1) {
			paused = !paused;
		}
	});

}

window.setInterval(function(){  
        
      //Accelerate towards the target:
      scrollpos += (targetscrollpos - scrollpos)*accelamount;
  
      //update video playback
      video.currentTime = scrollpos;
      video.pause();
    
}, 80);
</script>